.mr-1rem {
  margin-right: 1rem;
}
.mb-1rem {
  margin-bottom: 1rem;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.d-flex-items-center {
  display: inline-flex;
  align-items: center;
}