---
const { header, body } = Astro.props;
---

<div class="card-container">
  <div class="header">
    <span>{header}</span>
  </div>
  {body &&
    <div class="body">
      <article>{body}</article>
    </div>
  }
  {!body &&
    <slot name="bodySlot"/>
  } 
  <div class="action">
    <slot name="actionSlot"/>
  </div>
</div>
<style>
  body.dark {
    .card-container {
      background-color: #4a4946;
      border-radius: 5px;
    }
  }
  .card-container {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100%;    
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 1rem;
  }

  @media screen and (min-width: 768px) {
    .card-container {
      width: 20rem;
    
    }
  }
  .header {
    font-size: 1.25rem;
    padding: 1rem;
  }
  .body {
    overflow: auto;
    article {
      
    }
  }
  .action {
    display: inline-flex;
    width: 100%;
  }
</style>