---
import '../styles/global.css';
import Card from '../components/card/card.astro';
import {Image} from 'astro:assets';
import logo from '../../public/images/wonderworm.png';
import Nav from '../components/nav/nav.astro';

const mathCard = {
	header: 'Math',
	body: `Search for games to make learning math fun for kids. We have a variety of games that will help kids learn and practice counting, addition, subtraction, multiplication, division, fractions, decimals, and more!`
};

const readingCard = {
	header: 'Reading',
	body: `Search for games to make learning reading fun for kids. We have a variety of games that will help kids learn and practice their reading and comprehension skills.`
};

const skillsCard = {
	header: 'Skills',
	body: `Teaches skills that kids need to succeed in school and beyond. We have a variety of games that will help kids learn and practice their memory, typing, as well as the skills they need to succeed in school and beyond.`
};

const cardCollection = [mathCard, readingCard, skillsCard];

---

<html lang="en">
	<head>
		<title>WonderWorm</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="images/wonderworm.png">
	</head>
	<body>
		<header>
			<h1>WonderWorm</h1>
		</header>	
		<div class="main-container">
			<div class="nav-container">
				<Nav />
			</div>			
			<div class="content-container">
				<Image width={50} src={logo} alt="WonderWorm Logo" />
				<article>
					Welcome to WonderWorm, a place where learning is an exciting journey full of wonder and exploration!
				</article>
				<section class="cards">
					{cardCollection.map(card => (
						<div class="card-container">
								<Card body={card.body} header={card.header} />
							</div>
					))}
				</section>
			</div>			
		</div>		
	</body>
	<style>		
		body {
			width: 100vw;
			height: 100vh;
			position: absolute;
			left: 0;
			top: 0;
		}
		h1 {
			margin-top: 0;
			padding-top: 1rem;
		}
		header {
			height: 5rem;
		}
		.main-container {
			display: inline-flex;			
			width: 100%;
			height: calc(100% - 5rem);
		}
	
		.cards {
			display: flex;
			flex-wrap: wrap;
			margin-top: 2rem;
			justify-content: center;
			width: 100%;
		}
		.card-container {
			margin: 1rem;
		}
		h1, img, article {
			margin-left: 1rem;
		}
	</style>
</html>