---
import '@fontsource-variable/montserrat';
import MainLayout from '../layouts/main-layout.astro';
import '../styles/global.css';

const user = Astro.cookies.get('user');
if (!user) {
	console.log('Redirecting to register page');
	return Astro.redirect('/register');
}

---
<MainLayout>
	<div class="content-container">        
		<span>Coming Soon!</span>        
	</div>
</MainLayout>			
		