---
import '@fontsource-variable/montserrat';
import MainLayout from '../layouts/main-layout.astro';
import '../styles/global.css';

const user = Astro.cookies.get('user');
if (!user) {
	console.log('Redirecting to register page');
	return Astro.redirect('/login');
}

---
<MainLayout>
  <div class="flex flex-col items-center justify-center min-h-[60vh]">
    <span class="text-2xl font-bold text-gray-600">Coming Soon!</span>
  </div>
</MainLayout>
