---
import MainLayout from '../layouts/main-layout.astro';
import Card from '../components/card/card.astro';
import {NgLoaderComponent} from '../components/ng-loader/ng-loader.component';

const user = Astro.cookies.get('user');
if (!user) {
	console.log('Redirecting to register page');
	return Astro.redirect('/login');
}

let isLoading = false;

if (Astro.request.method === 'POST') {
	isLoading = true;
	return Astro.redirect('/comprehension');
}

---

<MainLayout>
  <div class="flex flex-col items-center justify-center min-h-[60vh]">
    <Card header="Comprehension" body="Test comprehension by reading a story and answering questions about it.">
      <div class="flex w-full justify-end mt-4" slot="actionSlot">
        <form method="POST">
          <button class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-md transition-colors" type="submit">Start</button>
        </form>
      </div>
    </Card>
    {isLoading && <NgLoaderComponent client:load />}
  </div>
</MainLayout>