---
import MainLayout from '../layouts/main-layout.astro';
---

<MainLayout>
	<div class="content-container">				
    <article>
      Thank you for registering! Please go to <a class="login-link" href="/login">login</a> to start learning.
    </article>
	</div>
</MainLayout>
<style>	
  .login-link {
    color: #007bff;
    text-decoration: none;
  }
</style>