---
import '../styles/global.css';
import {Image} from 'astro:assets';
import logo from '../../public/images/wonderworm.png';
import ThemeToggle from '../components/theme-toggle/theme-toggle.astro';
import Nav from '../components/nav/nav.astro';
import '@fontsource/silkscreen';
import '@fontsource-variable/montserrat';
---
<html lang="en">
	<head>
		<title>WonderWorm</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="images/wonderworm.png">
	</head>
	<body>
		<header>
			<Image width={50} src={logo} alt="WonderWorm Logo" />
			<div class="header-container">
				<h1>WonderWorm</h1>
				<div class="theme-toggle">
					<ThemeToggle />
				</div>
			</div>			
		</header>	
		<div class="main-container">
			<div class="nav-container">
				<Nav />
			</div>			
			<div class="content-container">
        <h2>Register to start learning!</h2>        
        <fieldset>
          <div class="form-container">            
            <label for="parentName">Parent Name:*</label>
            <input type="text" id="parentName" name="parentName" required/>                           
            <label for="email">Email:*</label>
            <input type="email" id="email" name="email" required/>                        
            <label for="username">User Name:*</label>
            <input type="text" id="username" name="username" required/>                        
            <label for="password">Password:*</label>
            <input type="password" id="password" name="password" required/>            
          </div>        
        </fieldset>        
      </div>
    </div>
  </body>
  <style>
    .form-container {
      display: flex;
      flex-direction: column;      
      gap: .5rem; 
    }
  </style>
</html>