---
import '@fontsource-variable/montserrat';
import MainLayout from '../layouts/main-layout.astro';
import '../styles/global.css';
---

<MainLayout>
	<div class="content-container">        
		<span>Coming Soon!</span>        
	</div>		
</MainLayout>