---
import Header from '../components/header/header.astro';
import Nav from '../components/nav/nav.astro';
import '../styles/global.css';
import '@fontsource-variable/montserrat';
---
<html lang="en">
  <head>
		<title>WonderWorm</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="images/wonderworm.png">
	</head>
  <body>
    <Header />
    <div class="main-container">
			<div class="nav-container">
				<Nav />
			</div>			
			<div class="content-container">				
				<slot/>
			</div>			
		</div>	
  </body>
</html>