---
import {Image} from 'astro:assets';
import account_profile from '../../../public/images/icons/account_circle.svg';
---
<div class="nav-container">
  <div class="main-nav-items">
    <button id="home">Home</button>
    <button id="math">Math</button>
    <button id="reading">Reading</button>
    <button id="skills">Skills</button>
  </div>
  <div class="account">
    <Image src={account_profile} width={35} alt="Profile" />
  </div>  
</div>
<style>  
  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #f2f2f2;
    padding: 1rem;
  }
  .main-nav-items {
    display: flex;
    flex-direction: column;    
  }
  .account {
    display: flex;
    justify-content: center;
    img {
      margin-left: 0;
    }
  }
  
  button {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #2d2d2d;
    padding: .5rem 0;
    cursor: pointer;
  }
  :first-of-type a{
    padding-top: 0;
  }
</style>
<script>
  import { getCurrentUser } from '../../utils/auth';
  const buttonsEls = document.querySelectorAll('button');
  buttonsEls.forEach((button) => {
    button.addEventListener('click', (ev: Event) => {
      const target = ev.target as HTMLButtonElement;
      const id = target.id;
      const currentUser = getCurrentUser();
      if (!currentUser && id !== 'home') {
        window.location.href = '/register';
      } else {        
        window.location.href = id !== 'home' ? `/${id}` : '/';
      }
    });
  });
</script>